* {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.title {
  text-align: center;
  margin-top: 1.5vh;
  font-size: 3em;
  color: #3d5447;
}
.container {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  position: relative;
  background-color: rgba(28, 46, 38, 0.2);
  border-radius: 30px;
  border: 5px solid rgba(28, 46, 38, 0.2);
}